version: "3.7"
services:
  my_service:
    container_name: my_service
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:3000"
    links:
      - database
    environment:
      - dev=1
      - db_service_name=database
      - db_name=mean-docker

  database:
    container_name: database
    image: mongo
    volumes:
      - ./db:/data/db
    ports:
      - "27017:27017"